<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.android.framework.jc">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <application>
        <provider
            android:authorities="${applicationId}.frameworkFileProvider"
            android:name="android.support.v4.content.FileProvider"
            android:grantUriPermissions="true"
            android:exported="false">
            <!--元数据-->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_file_paths" />
        </provider>
    </application>
</manifest>
